{% extends 'index.html' %}


{% block cover-page %}
{% endblock cover-page %}

{% block categories %}
{% endblock categories %}
    

{% block section %}
    <div class="my-60 w-full">
        <form method="POST" class="mx-auto bg-gray-200 p-5 w-1/2 shadow-lg border-l-2 border-r-2 border-blue-600 rounded-lg">                
            {% csrf_token %}
            <h1 class="text-center capitalize   text-lg">reestablecer contraseña</h1>
            <div class="">
                {% if form.errors %}
                    <h1 class="text-base text-red-400">Error al intentar actualizar la contraseña. <br> comprueba que sean iguales o que cumplan los requisitos</h1>
                    <h1 class="text-base text-blue-400">No pueden ser sólo números
                        <br>Debe tener al menos 8 caracteres 
                        <br>No puede ser muy sencilla. "12345678" o "aaaaaaaa"
                    </h1>
                {% endif %}
            </div>

            <!-- password 1 -->
            <input type="password" name="new_password1" class="w-full p-3 my-3 shadow-lg" placeholder="Nueva contraseña...">

            <!-- password 2 -->
            <input type="password" name="new_password2" class="w-full p-3 my-3 shadow-lg" placeholder="pon otra vez la contraseña...">

            <!-- botón -->
            <button type="submit" class=" bg-blue-500 hover:bg-blue-600 text-white shadow-lg text-center w-full my-3 p-3">Enviar</button>
        </form>
    </div>
{% endblock section %}
    