{% extends 'index.html' %}


{% block cover-page %}
{% endblock cover-page %}

{% block categories %}
{% endblock categories %}
    

{% block section %}
    <div class="my-60 w-full">
        <form method="POST" class="mx-auto bg-gray-200 p-5 w-1/2 shadow-lg">
            {% csrf_token %}
            <h1 class="text-center capitalize   text-lg">resetear tu contraseña</h1>
            <!-- {{form}} -->
            <input type="email" name="email" class="w-full p-3 my-3 shadow-lg" placeholder="Pon el email de tu usuario...">
            <button type="submit" class=" bg-blue-500 hover:bg-blue-600 text-white shadow-lg text-center w-full my-3 p-3">Enviar</button>
        </form>
    </div>
{% endblock section %}
    