{% extends 'index.html' %}

{% block cover-page %}
{% endblock cover-page %}

{% block categories %}
{% endblock categories %}
    

{% block section %}
<div class="my-60 w-full">
    <h1 class=" m-auto p-5 w-11/12 lg:w-1/2 shadow-lg text-base rounded-lg bg-gray-100 text-gray-800 border-l-2 border-r-2 border-blue-700">
        Le enviamos por correo electrónico instrucciones para configurar su contraseña, si existe una cuenta con el correo
        electrónico que ingresó. Debería recibirlos en breve. <br> <br>

        Si no recibe un correo electrónico, asegúrese de haber ingresado la dirección con la que se registró y verifique su
        carpeta de correo no deseado. Haga click <a href="{% url 'password_reset' %}" class="text-blue-600">aqui</a>  para volver a intentarlo.
        
    </h1>
</div>
{% endblock section %}
    