{% extends 'index.html' %}
{% load static %}


{% block cover-page %}
{% endblock cover-page %}


{% block categories %}
{% endblock categories %}
    

{% block section %}
    <div class="container bg-gray-300 mx-auto h-auto mt-10 p-5 lg:w-3/5">
        <h1 class="text-center h-10 font-bold">Subir Libro</h1>
        
        {% if error %}
            <h1 class="text-center text-red-500 font-bold">{{error}}</h1>
        {% endif %}
                
        <div class="text-center mx-auto bg-gray-200 py-3 shadow-md lg:w-4/5">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <!-- autor -->
                <input name="author" type="text" value="{{request.user.id}}" class="hidden">

                <!-- title -->
                <h1 class="">Titulo</h1>{{form.title}}
                
                <!-- sinopsis -->
                <h1 class="">Sinopsis</h1>{{form.synopsis}}

                <!-- categoria -->
                <h1 class="">Categoria/s</h1>{{form.category}}

                <!-- photo -->
                <h1 class="">Portada</h1>{{form.photo}}

                <!-- File -->
                <h1 class="">Archivo PDF</h1>{{form.file}}

                <!-- button -->
                <button type="submit" class=" block rounded-lg bg-blue-700 w-4/5 mx-auto my-2 text-white p-1 shadow-md lg:w-3/5">Publicar</button>
            </form>
        </div>
    </div>
    <br>
    
{% endblock section %}