<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>books</title>
</head>
<body>  
    <h3>categorias</h3>
        <table border="1px">
            <tr>
                <td><b>name</b></td>
            </tr>
            {% for c in categorys %}
                <tr>
                    <td>{{c.name}}</td>
                </tr>
            {% endfor %}
        </table>
<br><br>

<h3>libros</h3>
        <table border="1px">
            <tr>
                <td><b>title</b></td>
                <td><b>autor</b></td>
                <td><b>category</b></td>
                <td><b>photo</b></td>
            </tr>
            {% for b in books %}
                <tr>
                    <td>{{b.title}}</td>
                    <td>{{b.autor}}</td>
                    <td>
                        {% for cate in b.category.all %}
                        {{cate}}
                        {% endfor %}
                    </td>
                    <td><img style="width: 200px;" src="{{b.photo.url}}"></td>
                </tr>
            {% endfor %}
        </table>
<br><br>

<h3>reviews</h3>
        <table border="1px">
            <tr>
                <td><b>review</b></td>
                <td><b>autor</b></td>
                <td><b>book</b></td>
            </tr>
            {% for r in reviews %}
                <tr>
                    <td>{{r.message}}</td>
                    <td>{{r.author}}</td>
                    <td>{{r.book}}</td>
                </tr>
            {% endfor %}
        </table>

<br><br>
        <h3>stars</h3>
        <table border="1px">
            <tr>
                <td><b>autor</b></td>
                <td><b>book</b></td>
                <td><b>starts</b></td>
            </tr>
            {% for s in stars %}
                <tr>
                    <td>{{s.author}}</td>
                    <td>{{s.book}}</td>
                    <td>{{s.stars}}</td>
                </tr>
            {% endfor %}
        </table>
        
<br><br>

<h3>form book</h3>

{% if form %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">Enviar</button>
    </form>
{% endif %}
    
</body>
</html>